body{
    margin: 0;
    padding: 0;
    background: #cad5ff;
}

#map{
    height: 500px;
}

.container{
    width: 800px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .container{
        width: calc(100% - 1px);
    }
}

.line-1 {
    height: 1px;
    background: black;
}

.stops-content-container, .favorite-stops-container {
    margin-top: 20px;
    width: 300px;
    border: 5px solid black;
    background: #d9dbda;
    border-radius: 50px;
    padding-bottom: 17px;
}

.stops-container{
    height: 250px;
    overflow: hidden;
    overflow-y: scroll;
}

.button-container{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.routes-containter {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.gm-style-iw-d{
    color: black;
}

.search-container{
    margin: 10px;
    padding-right: 50%;
}

@media (max-width: 800px) {
    .search-container{
        padding-right: 5%;
    }
}

.search-wrapper{
    display: flex;
    flex-direction: column;
}

.search-wrapper-title{
    font-size: 1.35em;
    font-weight: bold;
}

.search-wrapper-input{
    height: 25px;
    font-size: 14pt;
}

.stop{
    border: 1px solid black;
    padding: 3px;
    cursor: pointer;
}

.hide{
    display: none;
}

.li-item{
    padding-right: 5px;
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: bold;
}